[Desktop Entry]
Type=Application
Name=hunter
Icon=hunter-icon
Comment=Graphical file manager with integrated preview of files
Categories=System;FileTools;FileManager;
