[Desktop Entry]
Type=Application
Name=hunter
Icon=hunter-icon
Comment=Graphical file manager, heavy inspired by Ranger
Categories=System;FileTools;FileManager;
