header markers:
  -- ****
remark markers:
  --
end markers:
  -- ****
options:
  --src src
  --doc docs
  --html
  --multidoc
  --index
  --internal
  --documenttitle "Hunter code documentation"
  --syntaxcolors
  --css others/robodoc.css
  --sections
  --toc
  --masterindex "Index,index"
  --sourceindex "Source files,sources"
headertypes:
  f Subprograms robo_subprograms
  h Packages robo_packages
keywords:
  procedure
  function
  return
  is
  type
  record
  pragma
  end
  package
  new
  access
  not
  null
  subtype
  renames
  range
  out
  in
  constant
  private
