header markers:
  -- ****
remark markers:
  --
end markers:
  -- ****
options:
  --src src
  --doc docs
  --html
  --multidoc
  --index
  --internal
  --documenttitle "Hunter code documentation"
  --syntaxcolors
keywords:
  procedure
  function
  return
  is
  type
  record
  pragma
  end
  package
  new
  access
  not
  null
